h1 {
    font-size: 36px;
    margin-top: 10px;
}

h4 {
    font-size: 14px;
    padding-right: 10px;
    margin: 0;
}

:root {
    --detailSubContainerWidth: 600px;
    --detailSubContainerHeight: 550px;
    
}

.loaderContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.loaderContainer img {
    width: 20%;
    height: auto;
}

.loaderText {
    font-size: 36px;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
    color: var(--fontColor); 
    padding-top: 85px;
    position: relative;
}

.leftRightWrapper {
    display: flex;
    overflow: hidden;
    padding: 30px;
    height: 80%;
    background-color: rgba(0, 0, 0,var(--opacity));
    overflow: hidden;
    transition: .5s all;
    text-decoration: none;
    border: 1px solid #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.leftSubContainer {
    width: var(--detailSubContainerWidth);
    height: var(--detailSubContainerHeight);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-height: 550px;

}

.rightSubContainer {
    width: var(--detailSubContainerWidth);
    height: var(--detailSubContainerHeight);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0px;
    margin-top: 50px;
    height: 100%;
    max-height: 550px;
}

.nameDiv {
    width: 90%;
    height: 60px;
}

.nameDiv h1 {
    align-self: self-start;
}


.detailImage {
    margin-top: 12px;
    width: 90%;
    height: 65%;
    border-radius: .5rem;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 30px;
}

.h2Text {
    height: auto;
}

.descriptionContainer {
    position: relative;
    max-height: 215px;
    overflow: hidden;
    z-index: 1; 
    transition: transform 0.3s ease, background-color 0.3s ease, top 0.3s ease, left 0.3s ease, box-shadow 0.3s ease; 
    transform-origin: top left; 
    overflow-y: auto;
    padding-right: 8px;
}

.descriptionContainer p {
    margin: 0;
}

.descriptionContainer::-webkit-scrollbar {
    width: 10px; 
}

.descriptionContainer::-webkit-scrollbar-track {
    background-color: #4d4949; 
    border-radius: 5px;
}

.descriptionContainer::-webkit-scrollbar-thumb {
    background-color: #c4c4c4; 
    border-radius: 5px; 
}

.descriptionContainer::-webkit-scrollbar-thumb:hover {
    background-color: #989797; 
}

.description {
    text-align: justify;
}

.infoDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin: 0;
}

ins {
    margin: .5rem;
    margin-bottom: .7rem;
    text-decoration: none;
}

.ratingLow {
    color: #ee83e5;
}

.ratingMedium {
    color: rgb(255, 253, 109);
}

.ratingHigh {
    color: rgb(168, 250, 114);
}

@media screen and (max-width: 1090px) {
    .detailImage {
        margin-top: 56px;
    }
}

@media screen and (max-width: 930px) {
    .container{
        margin-top: 40px;
    }
}

@media screen and (max-width: 860px) {
    .leftRightWrapper {
        flex-direction: column;
        align-items: center;
    }
    .container{
        height: auto;
        margin-top: 40px;
    }
    .rightSubContainer{
        margin-top: 0px;
        padding-top:0px;
    }
    .detailImage{
        width: 100%;
    }
    
}

@media screen and (max-width: 700px) {
    .container{
        width: 95vw;
    }
    .detailImage{
        width: 95%;
    }
    .leftRightWrapper {
        padding: 0px;
        width: 95vw;
    }
    .leftSubContainer, .rightSubContainer{
        width: 95%;
    }
    .nameDiv h1 {
        margin-top: 30px;
    }
}

@media screen and (max-width: 585px) {
    .container{
        margin-top: 60px;
    }
    .detailImage{
        margin-top: 80px;
        width: 100%;
    }
    .nameDiv {
        width: 100%;
    }
    .infoDiv{
        flex-direction: column;
        align-items: flex-start;
    }
}

