/*#4F9ACA light blue, #000A0C dark blue*/
:root {
  --lightBlue: #4F9ACA;
  --darkBlue: #011b20;
  --fontColor: white;
  --modulesBackgroundColor: rgba(0, 0, 0, 0.6);
  --searchBarSecondColor: rgba(78, 75, 75, 0.5);
  --searchBarBackgroundColor: white;
  --searchBarFontColor: white;
  --searchBarPlaceholderColor: rgb(161, 161, 161);
  --borderRadiusSearchBar: 3px;
  --fontColorCard: rgb(173, 172, 172);
  --searchBarButtonsColor: rgba(24, 7, 39, 1);
  --navBarFiltersColor: rgba(40, 38, 50, 0.7);
  --borderGeneric: 1px solid #ffffff22;
  --opacity: 0.85
}

@font-face {
  font-family: 'Custom-font';
  src: url('./fonts/aldrich-regular-webfont.woff2') format('woff2'),
    url('./fonts/aldrich-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;


}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Custom-font', Arial, sans-serif;
  text-decoration: none;
  margin: 0;
  background-image: url('../src/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
  min-height: 100vh;
}

.App::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  pointer-events: none; 
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}