/*#4F9ACA light blue, #000A0C dark blue*/
:root {
  --lightBlue: #4F9ACA;
  --darkBlue: #011b20;
  --fontColor: white;
  --searchBarSecondColor: rgba(78, 75, 75, 0.5);
  --searchBarFontColor: white;
  --searchBarPlaceholderColor: rgb(204, 202, 202);
  --borderRadiusSearchBar: 7px;
  --fontColorCard: rgb(173, 172, 172);
}

@font-face {
  font-family: 'Custom-font';
  src: url('./fonts/aldrich-regular-webfont.woff2') format('woff2'),
       url('./fonts/aldrich-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  

}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Custom-font', Arial, sans-serif;
  text-decoration: none;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
