.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;
}

.pageSelectorWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.pageButton {
    width: 90px;
    margin: 0 5px;
    height: 40px;
    font-family: 'Custom-font';
    font-size: 16px;
    border-radius: var(--borderRadiusSearchBar);
    cursor: pointer;
    border: 2px solid #dadada;
    background-color:var(--searchBarSecondColor);
    color: var(--searchBarFontColor);
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px rgb(158, 202, 237);
    background-color: #4a576f;
    background: linear-gradient(0deg, rgb(51, 56, 65) 0%, rgba(38, 0, 70, 0.5) 100%);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}


.pageNumberButton{
    margin: 0 2px;
    width: 40px;
    height: 40px;
    font-family: 'Custom-font';
    font-size: 16px;
    border-radius: var(--borderRadiusSearchBar);
    cursor: pointer;
    border: 2px solid #dadada;
    background-color:var(--searchBarSecondColor);
    color: var(--searchBarFontColor);
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px rgb(158, 202, 237);
    background-color: #4a576f;
    background: linear-gradient(0deg, rgb(51, 56, 65) 0%, rgba(38, 0, 70, 0.5) 100%);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.pageSpan {
    font-size: 24px;
    color: white;
}

@media screen and (max-width: 520px) { 
    .pageNumberButton {
        width: 20px;
        font-size: 12px;
    } 
    .pageButton {
        width: 50px;
        margin: 0 2px;
        font-size: 12px;
    } 
}

