.warning {
    color: red;
    font-size: 12px;
}

.formContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    color: var(--fontColor);
    margin-top: 115px;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.formDiv {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0,var(--opacity));
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    overflow: hidden;
    transition: .5s all;
    padding: 40px;
    font-size: 20px;
    margin: 40px 30px 40px 30px;
}

.formDiv label {
    margin-top: 8px;
    margin-bottom: 8px;
}

.titleContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.videogamesImage {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.title {
    flex: 1;
}

.loginImg {
    max-width: 100px;
    margin-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.leftContainer input,
.rightContainer input {
    height: 20px;
    font-size: 16px;
    font-family: 'Custom-font';
}

.rating{
    width: 85px;
}

.leftContainer input::placeholder,
.rightContainer input::placeholder {
    font-size: 16px;
    vertical-align: center;
}

.leftContainer textarea {
    height: 100px;
    font-size: 16px;
    font-family: 'Custom-font';
}

.rightContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightContainer label {
    margin-bottom: 0;
}
.checkboxGroup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    margin: 0;
}

.checkboxGroup label {
    display: flex;
    align-items: center;
  }
  
  .checkboxGroup input[type="checkbox"] {
    margin-right: 5px; 
    margin-left: 0;
  }

.checkbox {
    font-size: 12px;
}

.dateAndRatingDiv {
    display: flex;
    justify-content: space-between;
}

.dateAndRatingSubDiv {
    display: flex;
    flex-direction: column;
}

.submitButton {
    height: 40px;
    font-size: 16px;
    font-family: 'Custom-font';
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(219, 232, 230);
}

@media screen and (max-width: 520px) {
    .form {
        width: 100%;
    }
    
    .formDiv{
        margin-top:100px; 
        width: 98%; 
        padding: 20px 15px;
    } 

    .leftContainer input, textarea {
        width: 280px;
    }

    .dateAndRatingDiv{
        flex-direction: column;
    }

    .dateAndRatingDiv input{
        width: 130px;
    }
    .checkboxGroup {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        margin: 0;
    }
}

@media screen and (max-width: 300px) {
    .checkboxGroup {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        margin: 0;
    }
}