.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 90px;
    font-family: 'Custom-font';
    font-size: 20px;
    background-color: #333c4d;
    background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, .5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.createVideogame,
.searchBarDiv input,
.filterDiv {
    font-family: 'Custom-font';
    font-size: 20px;
}


.sortButton,
.select {
    font-family: 'Custom-font';
    font-size: 16px;
}

.createVideogame {
    margin-left: 30px;
    height: 50px;
    border-radius: var(--borderRadiusSearchBar);
    border: none;
    outline: none;
    background-color:var(--searchBarSecondColor);
    color: var(--searchBarFontColor);
    border: 2px solid #dadada;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    background-color: #4a576f;
    background: linear-gradient(0deg, rgb(51, 56, 65) 0%, rgba(38, 0, 70, 0.5) 100%);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    cursor: pointer;
}


.filterDiv {
    display: flex;
    width: 32vw;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.sortWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 150px;
    border-radius: var(--borderRadiusSearchBar);
    height: 50px;
    background-color:var(--searchBarSecondColor);
    color: var(--searchBarFontColor);
    border: 2px solid #dadada;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    background-color: #4a576f;
    background: linear-gradient(0deg, rgb(51, 56, 65) 0%, rgba(38, 0, 70, 0.5) 100%);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.sortWrapper span, .selectWrapper span{
    margin-left: 18px;
}


.sortButton1 {
    font-family: 'Custom-font';
    width: 60px;
    display: flex;
    flex-direction: column;
    height: 25px;
    background-color: #9ecaed;
    border-radius: 0 var(--borderRadiusSearchBar) 0 0;
}

.sortButton2 {
    font-family: 'Custom-font';
    width: 60px;
    display: flex;
    flex-direction: column;
    height: 25px;
    background-color: #9ecaed;
    border-radius: 0 0 var(--borderRadiusSearchBar) 0;
}

.selectButtons {
    display: flex;
    flex-direction: column;
}

.selectButton1 {
    height: 25px;
    background-color: #9ecaed;
    font-family: 'Custom-font';
    font-size: 16px;
    border-radius: 0 var(--borderRadiusSearchBar) 0 0;
}

.selectButton2 {
    height: 25px;
    background-color: #9ecaed;
    font-family: 'Custom-font';
    font-size: 16px;
    border-radius: 0 0 var(--borderRadiusSearchBar) 0;
}

.selectWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 297px;
    border-radius: var(--borderRadiusSearchBar);
    background-color:var(--searchBarSecondColor);
    color: var(--searchBarFontColor);
    border: 2px solid #dadada;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    background-color: #4a576f;
    background: linear-gradient(0deg, rgb(51, 56, 65) 0%, rgba(38, 0, 70, 0.5) 100%);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.createVideogame {
    width: 15vw;
}

.searchBarDiv {
    position: relative;
    width: 300px;
}

.searchIcon {
    position: absolute;
    top:5px;
    right:2px;
    background-color:rgba(255, 0, 0, 0);
    border-radius: var(--borderRadiusSearchBar);
    border: none;
    font-size: 25px;
    cursor: pointer;
    z-index: 1;
}
.searchBarDiv input {
    min-width: 300px;
    display: flex;
    align-items: center;
    border-radius: var(--borderRadiusSearchBar);
    height: 50px;
    width: 100%;
    padding-left: 10px;
    min-width: 100px;
    border: none;
    outline: none;
    background-color:var(--searchBarSecondColor);
    color: var(--searchBarFontColor);
    border: 2px solid #dadada;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    background-color: #4a576f;
    background: linear-gradient(0deg, rgb(51, 56, 65) 0%, rgba(38, 0, 70, 0.5) 100%);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}


.searchBarDiv input::placeholder {
    color: var(--searchBarPlaceholderColor)
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

