.container {
    display: grid;
    grid-template-columns: repeat(auto-fit,260px);
    margin: 10px 0px;
    justify-content: center;
    max-width: 1320px;
    margin-top: 40px;
    margin-left: 12px;
}

@media screen and (max-width: 900px) { 
    .container { 
        margin: 85px auto; 
        margin-left: 0px;
    } }

@media screen and (max-width: 300px) { 
    .container { 
        display: flex;
        flex-direction: column;

    } }
