.container {
  padding: 0;
  background-image: url('../../img/landing.png');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInBackground 2s forwards;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 70%;
  background-color: rgba(0, 0, 0, var(--opacity));
  border-radius: var(--borderRadiusSearchBar);
  border: none;
  outline: none;
  color: var(--searchBarFontColor);
  border: 2px solid #dadada;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  animation: fadeInDiv 2s 2s forwards;
  opacity: 0;
}

.wrapper h1 {
  font-size: 110px;
  font-family: 'Custom-font';
  color: white;
  margin: 0;
  padding: 0;
}


.wrapper button {
  margin-top: 0px;
  font-size: 24px;
  font-family: 'Custom-font';
  color: white;
  height: 60px;
  width: 200px;
  border-radius: var(--borderRadiusSearchBar);
  border: none;
  outline: none;
  background-color: var(--searchBarSecondColor);
  color: var(--searchBarFontColor);
  border: 2px solid #dadada;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  background-color: #4a576f;
  background: linear-gradient(0deg, rgb(51, 56, 65) 0%, rgba(38, 0, 70, 0.5) 100%);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  cursor: pointer;
}

.wrapper button:active {
  transform: translateY(5px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInDiv {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 880px) {
  .wrapper h1 {
    font-size: 50px;
  }

  .wrapper button {
    height: 40px;
    width: 140px;
    font-size: 16px;
  }
}

@media screen and (max-width: 580px) {
  .wrapper h1 {
    font-size: 36px;
  }

  .wrapper button {
    height: 40px;
    width: 100px;
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper h1 {
    font-size: 24px;
  }

  .wrapper button {
    height: 40px;
    width: 100px;
    font-size: 16px;
  }
}