.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 70px;
    font-family: 'Custom-font';
    font-size: 16px;
    background-color: var(--modulesBackgroundColor);
    box-shadow: 0 7px 20px 5px #00000088;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: var(--borderGeneric);
    border-width: 2px;
}

.part1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 60%;
}

.part2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 40%;
    margin-right: 30px;
}

.createVideogame,
.homeButton,
.searchBarDiv input,
.filterDiv {
    font-family: 'Custom-font';
    font-size: 16px;
}


.sortButton,
.select {
    font-family: 'Custom-font';
    font-size: 16px;
}

.linksDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.createVideogameDiv {
    height: 100%;
}
.createVideogame {
    white-space: nowrap;
    width: fit-content;
    padding: 0 30px;
    height: 100%;
    border: none;
    outline: none;
    background-color:transparent;
    color: var(--searchBarFontColor);
    border-right: var(--borderGeneric);
    border-width: 2px;
    cursor: pointer;
}

.homeButtonDiv {
    height: 100%;
    display: flex;
    align-items: center;
}
.homeButton {
    padding: 0 30px;
    height: 100%;
    background-color: transparent;
    border-style: none;
    color: var(--searchBarFontColor);
    border-right: var(--borderGeneric);
    border-width: 2px;
    cursor: pointer;
}


.searchBarDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-right: var(--borderGeneric);
    border-width: 2px;
}

.searchBarDiv input {
    display: flex;
    align-items: center;
    border-radius: var(--borderRadiusSearchBar);
    height: 30px;
    width: 90%;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color:var(--searchBarBackgroundColor);
    color: black;
    border: var(--borderGeneric);
    border-width: 2px;
}

.searchIcon {
    position: absolute;
    top:21px;
    right:17px;
    background-color:rgba(255, 0, 0, 0);
    border-radius: var(--borderRadiusSearchBar);
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
}

.searchBarDiv input::placeholder {
    color: var(--searchBarPlaceholderColor)
}


.filterDiv {
    display: flex;
    width: 32%;
    margin-right: 30px;
    margin-left: 10px;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.sortWrapper{
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color:transparent;
    color: var(--searchBarFontColor);
}

.sortWrapper span, .selectWrapper span{
    margin-left: 18px;
    margin-right: 18px;
}


.sortButton1 {
    color: white;
    font-family: 'Custom-font';
    width: 60px;
    display: flex;
    flex-direction: column;
    height: 25px;
    background-color: var(--navBarFiltersColor);
    border-radius: 0 var(--borderRadiusSearchBar) 0 0;
    cursor: pointer;
}

.sortButton2 {
    color: white;
    font-family: 'Custom-font';
    width: 60px;
    display: flex;
    flex-direction: column;
    height: 25px;
    background-color: var(--navBarFiltersColor);
    border-radius: 0 0 var(--borderRadiusSearchBar) 0;
    cursor: pointer;
}

.selectButtons {
    display: flex;
    flex-direction: column;
    
}

.selectButton1 {
    color: white;
    cursor: pointer;
    height: 25px;
    background-color: var(--navBarFiltersColor);
    font-family: 'Custom-font';
    font-size: 16px;
    border-radius: 0 var(--borderRadiusSearchBar) 0 0;
    border: var(--borderGeneric);
}

.selectButton2 {
    color: white;
    cursor: pointer;
    height: 25px;
    background-color: var(--navBarFiltersColor);
    font-family: 'Custom-font';
    font-size: 16px;
    border-radius: 0 0 var(--borderRadiusSearchBar) 0;
    border: var(--borderGeneric);
}

.selectWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 297px;
    height: 100%;
    background-color:transparent;
    color: var(--searchBarFontColor);
}



input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@media screen and (max-width: 1200px) {
    .searchBarDiv {
        width: 40%;
    }
    .searchIcon{
        right:10px;
    }
}

@media screen and (max-width: 1115px) {
    .createVideogame {
        max-width: 123px;
        white-space: normal;
        text-align: center;
        padding: 0 10px;
    }
    .homeButton {
        max-width: 85px;
        padding: 0 20px;
    }
    .searchIcon{
        right:8px;
    }
}

@media screen and (max-width: 930px) {
    .container {
        flex-direction: column;
        height: 140px;
    }
    .part1 {
        display: flex;
        justify-content: space-evenly;
        border-bottom: var(--borderGeneric);
        border-width: 2px;
        width: 100%;
    }
    .part2 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .filterDiv {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .linksDiv, .homeButtonDiv, .createVideogameDiv, .filterDiv, .selectWrapper{
        width:50%;
    }
    .searchBarDiv{
        width: 50%;
    }
    .homeButton, .createVideogame {
        width: 100%;
        max-width: none;
    }
    .searchIcon{
        right:17px;
    }
    .sortWrapper {
        margin-left: 30px;
    }
    .selectWrapper{
        margin-right: 30px;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 500px) {
    .homeButtonDiv{
        width: 30%;
    } 
    .createVideogameDiv{
        width: 70%;
    }
    .container {
        height: 175px;
    }
    .part1 {
        flex-direction: column;
    }
    .part2 {
        height: 75px;
        margin:0;
        justify-content: space-between;
    }
    .linksDiv, .searchBarDiv {
        width: 100%;
    }
    .searchIcon{
        top:11px;
        right: 15px;
    }
    .filterDiv {
        margin: 0;
        width: 30%;
    }
    .selectWrapper{
        width: 70%;
        flex-direction: column;
        margin: 0;
        align-items: flex-start;
    }
    .sortWrapper {
        margin: 0;
        width: 100%;
        flex-direction: column;
        align-items:center;
    }

    .sortWrapper span{
        margin: 0;
        
    }
}

